.card {
    height: 11%;
    width: 100%;
    display: flex;
    background-color: var(--primary-color);
    box-shadow: 3px 4px 10px 1px rgba(0, 0, 0, 0.2);
}

.adjectives {
    height: 100%;
    width: 60%;
    display: flex;
    flex-direction: column;
    
}

.logo {
    width: 10%;
    height: 100%;
}

.title {
    font-size: xx-large;
    color: white;
}

.description {
    color: var(--footer-color);
}

.arrow {
    flex: 1;
    text-align: center;
    margin-left: 10%;
    margin-top: auto;
    margin-bottom: auto;
}


.arrow-icon.chevron-down {
    transform: rotate(360deg);
}

  