.header {
    width: 100%;
    height: 10vh;
    background-color: var(--primary-color)
}
.header-items {
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.corner {
    display: flex;
    position: relative; 
    align-items: center;
    cursor: pointer;
    padding-left: 3%;
    padding-right: 3%;
}
.corner:hover {
    background-color: var(--hover-color)
}

.nav-links span {
    cursor: pointer;
}
.headerSpan {
    white-space: nowrap;
    color: white;
}
.nav-links > * {
    padding-right: 10%;
    text-decoration: none;
}

.nav-links {
    padding-left: 5%;
    display: flex;
    align-items: center;
}


.dropdown-menu {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    z-index: 1000;
    width: 130px; 
  }
  
  .dropdown-item {
    padding: 8px 12px;
    cursor: pointer;
    
  }
  
  .dropdown-item:hover {
    background-color: #f0f0f0;
  }
  